mod_template
progs.*
*.cfg
*.zip

# Map compilation leftovers
*.log
*.prt
*.texinfo.json
autosave/
mapsrc/*.bsp
mapsrc/*.lit
mapsrc/*-compile.map
*.pts

# Ironwail screenshots folder
screenshots/
/*.png
/*.pcx
/*.tga
maps/TEST_*
maps/test_*
/*.map
/*.bsp
/*.lit
imgui.ini
